/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
    margin-top: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
    margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* END OF CSS RESET */

@font-face {
    font-family: 'Norse-Bold';
    src: url(./fonts/Norse-Bold.otf);
}

body {
    font-family: system-ui, sans-serif;
}

h2 {
    font-weight: 600;
}

label {
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(64, 63, 63);
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 5px;
    line-height: 1.3;
}

input:focus {
    border: 1px solid rgb(55, 55, 173);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    outline: none;
}

input:user-invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid green;
}

input+span {
    font-size: 0.8rem;
    font-weight: 600;
    color: red;
    line-height: 1.3;
}

input:user-invalid+span::before {
    content: '*Please fill appropriately';
}

/* Global container */
.container {
    display: flex;
    min-height: 100vh;
}

/* Left section */
.left-section {
    flex: 30%;
    position: relative;
    background: no-repeat center url(./images/greens.jpg);
    background-size: cover;
}

.odin-band {
    color: white;
    font-family: Norse-Bold;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 20%;
    width: 100%;
}

.odin-logo {
    height: 80px;
}

.img-credits {
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

/* Right section */
.right-section {
    flex: 70%;
    background-color: #fbfbf1;
    padding: 5% 0 0 0;
}

.core-form {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    padding: 15px 20% 15px 40px;
    margin: 30px 0;
}

.intro {
    margin: 0 40px 50px 40px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
}

.input-pair {
    display: flex;
    flex-flow: column;
    margin: 10px 30px 10px 0;
    flex: 1 1 40%;
}

.submit-btn,
.login {
    margin: 30px 0 20px 40px;
}

.submit-btn button {
    background-color: #596D48;
    color: white;
    font-weight: 600;
    border: none;
    padding: 12px 35px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    cursor: pointer;
}

.login a {
    text-decoration: none;
    color: #596D48;
    font-weight: 700;
}